.dropdown-menu {
  background-color: pink;

  display: grid;
  align-items: stretch;
  text-align: center;
}

.dropdown-menu-option,
.dropdown-menu-cover {
  background-color: teal;
  padding: 1rem;
}

.dropdown-menu-cover {
  position: relative;
  z-index: 1;
}

.dropdown-menu-option {
  position: absolute;
  transition: all 500ms;
}
