.dropdown-menu {
  background-color: pink;

  display: grid;
  align-items: stretch;
  text-align: center;
}

.dropdown-menu-item {
  position: absolute;
  background-color: teal;

  padding: 1rem;
  /* width: inherit; */

  transition: all 500ms;
}

.dropdown-menu-cover {
  position: relative;
  z-index: 1;
}
